/* Overriding simple.css values */
/* Visible at file:///home/mendhak/Projects/eleventy-simplecss-test/node_modules/simpledotcss/simple.css */

/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lora-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lora-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@media (prefers-color-scheme: dark) {
:root {
  --bg: #333333;
  --accent-bg: #333333;
  --accent: #fedb8b;
}
}

body {
  grid-template-columns: 1fr min(55rem, 90%) 1fr;
  font-size: 1.25rem;
}

body > header {
  text-align: left;
  padding: 0;
}

body > header site-title {
  max-width: 1200px;
  margin: 1rem auto;
  font-size: 1.5rem;
  display: block;
  font-weight: 700;
  color: var(--text);
  font-family: 'Lora';
}

a {
  text-decoration: none;
}

h1 {
  color: var(--accent);
}

h1,h2,h3 {
  font-family: Lora,serif;
}

main p:first-child {
  color: var(--text-light);
  font-size: 1rem;
}
.notice {
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}
