---
eleventyComputed: metadata.title
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


{% set maxPosts = collections.posts.length | min(3) %}
Recent posts

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<a href="{{ '/posts/' | url }}">More posts ➡</a>
