
{% for post in postslist | reverse %}
  <article>
    <a href="{{ post.url | url }}" data-date="{{ post.date | htmlDateString }}" data-tags="{{ post.data.tags | filterTagList }}" >{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <div class="excerpt">{% excerpt post %}</div>

  </article>
{% endfor %}
