<link rel="stylesheet" href="/simplelightbox/simple-lightbox.min.css"/>
<script src="/simplelightbox/simple-lightbox.min.js"></script>
<script>
  (function () {
    var $gallery = new SimpleLightbox('figure a', {
      'overlayOpacity': 0.6,
      'uniqueImages': false
    });
  })();
</script>
