---
title: All posts
layout: layouts/home.njk
pagination:
  data: collections.posts
  size: 5
  alias: postslist
  reverse: true

permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---


{% include "postslist.njk" %}

{% include "pagination.njk" %}
