---
eleventyComputed: metadata.title
layout: layouts/home.njk
permalink: /
---

{% set postslist = collections.posts | reverse | head(metadata.homePageItems) %}
{% include "postslist.njk" %}

<nav><ul><li><a href="/posts/">More posts ➡</a></li></ul></nav>
