<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>

  <style>

  {% include "node_modules/simpledotcss/simple.min.css" %}

  /* lora-700 - latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('{{ "/fonts/lora-v26-latin-700.woff2" | url }}') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('{{ "/fonts/lora-v26-latin-700.woff" | url }}') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  {% set cssoverrides %}
  {% include "css/index.css" %}
  {% endset %}

  {{ cssoverrides | cssmin | safe }}

  {% set cssprism %}
  {% include "node_modules/prism-themes/themes/prism-a11y-dark.css" %}
  {% endset %}

  {{ cssprism | cssmin | safe }}

  </style>


  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <meta property="og:title" content="{{ title or metadata.title }}"/>
  <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}" />
  <meta property="og:description" content="{{ description or renderData.description }}" />
  <meta property="og:image" content="{{ (header.teaser or metadata.opengraph.image) | url | absoluteUrl(metadata.url) }}" />
  <meta property="og:type" content="{{ metadata.opengraph.type }}" />
  <meta property="og:article:author" content="{{ metadata.author.name }}" />
  <meta property="og:article:tag" content="{{ tags or metadata.tags }}" />
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="keywords" content="{{ tags or metadata.tags | filterTagList }}">

  <meta name="generator" content="{{ eleventy.generator }}">

  <link href="{{ metadata.favicon | url }}" rel="icon" type="image/x-icon" />

</head>

<body>
  <header>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </header>
  <main>
    <h1><a href="">{%- if title %}{{ title }}{%- endif %}</a></h1>
    {{ content | safe }}
  </main>

  <footer>

    <ul class="bottomlinks">
        {%- for item in bottomlinks -%}
        <li><a href="{{ item.link | url }}">{{ item.text }}</a></li>&nbsp;&nbsp;&nbsp;
        {%- endfor -%}
    </ul>

    <p>&mdash; &copy; {% year %} {{ metadata.author.name }} &mdash;</p>

    <a href="javascript:toggleColorScheme();">
      <svg id="icon-sun" viewBox="0 0 36 36"><g fill="#FFAC33"><path d="M16 2s0-2 2-2 2 2 2 2v2s0 2-2 2-2-2-2-2V2zm18 14s2 0 2 2-2 2-2 2h-2s-2 0-2-2 2-2 2-2h2zM4 16s2 0 2 2-2 2-2 2H2s-2 0-2-2 2-2 2-2h2zm5.121-8.707s1.414 1.414 0 2.828-2.828 0-2.828 0L4.878 8.708s-1.414-1.414 0-2.829c1.415-1.414 2.829 0 2.829 0l1.414 1.414zm21 21s1.414 1.414 0 2.828-2.828 0-2.828 0l-1.414-1.414s-1.414-1.414 0-2.828 2.828 0 2.828 0l1.414 1.414zm-.413-18.172s-1.414 1.414-2.828 0 0-2.828 0-2.828l1.414-1.414s1.414-1.414 2.828 0 0 2.828 0 2.828l-1.414 1.414zm-21 21s-1.414 1.414-2.828 0 0-2.828 0-2.828l1.414-1.414s1.414-1.414 2.828 0 0 2.828 0 2.828l-1.414 1.414zM16 32s0-2 2-2 2 2 2 2v2s0 2-2 2-2-2-2-2v-2z"/><circle cx="18" cy="18" r="10"/></g><title>Click for light theme</title></svg>
      <svg id="icon-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M10.895 7.574c0 7.55 5.179 13.67 11.567 13.67 1.588 0 3.101-.38 4.479-1.063-1.695 4.46-5.996 7.636-11.051 7.636-6.533 0-11.83-5.297-11.83-11.83 0-4.82 2.888-8.959 7.023-10.803a16.16 16.16 0 0 0-.188 2.39z"/><title>Click for dark theme</title></svg>
    </a>

    <ul class="photostream">
        {%- for photo in photostream -%}
        <li><a href="{{ photo.link }}"><img width="150" height="150" alt="thumbnail" src="{{ photo.img }}" loading="lazy"></a></li>&nbsp;&nbsp;&nbsp;
        {%- endfor -%}
    </ul>


  </footer>


  {% addLightBoxRefIfNecessary %}


  <script>
  {% set lightdarkjs %}
  {% include "js/light-dark-mode.js" %}
  {% endset %}
  {{ lightdarkjs | jsmin | safe }}
  </script>


  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
